.Registration-Card {
    display: flex;
    height: 600px;
    width: 900px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 50px 5px rgba(0 , 0 , 0 , 0.3);
}

.signUpLeftSide {
    color: white;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right , #2c7bc1 , #9fd6ec);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    width: 35%;
    background-image: url(../../images/1969c3177d6340f0baac264b84ae0441.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signUpLeftSide img {
    width: 80px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    margin-top: -30px;
}

.signUpLeftSide p{
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
}

button{
    color: white;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 1.18em;
    border: 2px solid white;
    border-radius: 35px;
    cursor: pointer;
    margin-top: 20px;
    background-color: transparent;
    transition: 0.5s ease;
    position: relative;
    z-index: 1000;
}

.signUpLeftSide button:hover {
    color: black;
    background-color: white;
}

.signUpRightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 90px;
}

.signUpRightSide h1 {
    margin-bottom: 0;
    text-align: center;
}

.main-paragraph1 {
    text-align: center;
    margin-bottom: 10px ;
}

.signUpRightSide form {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-paragraph {
    margin: 15px 0 8px 5px;
    color: rgb(158, 158, 158);
}

.signUpRightSide input {
    margin: 0;
    height: 43px;
    width: 350px;
    background-color: rgb(255, 251, 246);
    text-align: center;
    border: rgb(224, 220, 220) 1.5px solid;
    border-radius: 10px;
    font-size: 1.05em;
}

.signUpRightSide input:focus {
    border-color: wheat;
    box-shadow: 0 0 2px 3px rgba(245 , 222 , 179 , 0.3);
    background-color: white;
    outline: none;
}

.main-btn {
    width: 350px;
    margin-top: 30px;
    transition: 0.5s ease ;
    background-color: wheat;
}

.main-btn:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); 
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 330px;
  margin:10px 5px 0 5px ;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.google-btn {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 350px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.google-btn:hover {
  background-color: #f5f5f5;
}

.google-btn img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


